.item {
  color:black ;
}

.item img {
  width: 50px;           /* Устанавливаем ширину изображения */
  height: 50px;          /* Устанавливаем высоту изображения */
  border-radius: 50%;    /* Делаем изображение круглым */
 
}

.posts {
  padding: 20px;
}